# Basic of Python

- Variables and Scoping
- Basic data types
- Operators
- conditional statement
- Modules, Packages and the import statement

### Variables

In [1]:
s = 'New York'

print(s)

New York

In [2]:
print(type(s))

<class 'str'>

## String

In [3]:
name = 'This is also a string'
print(name)

This is also a string

In [4]:
print(len(name))

21

In [5]:
#String Indexing:

s = 'Hello World'
print(s[0])

H

In [7]:
print(s[6:])

World

In [8]:
# concatenation (addition)

s1 = 'Hello'
s2 = "World"
print(s1 + " " + s2)

Hello World

In [10]:
# repetition (multiplication)

print("Hello_" * 3)

Hello_Hello_Hello_

In [11]:
s = "Namaste World"

# print sub strings
print(s[1])     #This is indexing.
print(s[6:11])  #This is known as slicing.
print(s[-5:-1])

# test substring membership
print("Wor" in s)

a
e Wor
Worl
True

In [12]:
s = "Hello World"

print(s.upper())
print(s.lower())

HELLO WORLD
hello world

### Print Formatting

In [15]:
name = "Ajith"
age = 19
Student = True

print("My name is %s, my age is %s, and it is %s that I am Student" % (name, age, Student))

print("My name is {}, my age is {}, and it is {} that I am Student".format(name, age, Student))

My name is Ajith, my age is 19, and it is True that I am Student
My name is Ajith, my age is 19, and it is True that I am Student

In [16]:
#Example

name ='Ajith'
print('Hello {}'.format(name))

Hello Ajith

### Numbers

In [17]:
a = 2
b = 2.0
c = 4+2j

In [18]:
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'complex'>

### Basic Arithmetic

In [24]:
# Addition
print(2+1)

3

In [25]:
# Subtraction
print(2-1)

1

In [26]:
# Multiplication
print(2*2)

4

In [27]:
# Division
print(3/2)

1.5

In [28]:
#floor division
print(7//2)

3

In [23]:
# Powers
2**3

8

### Lists

In [29]:
my_list = [1,2,3]

In [30]:
len(my_list)

3

In [31]:
# append a value to the end of the list
l = [1,2,3]
l.append(3.1)
print(l)

[1, 2, 3, 3.1]

In [32]:
# extend a list with another list. 
l = [1, 2, 3]
l.extend([4, 5, 6])
print(l)

[1, 2, 3, 4, 5, 6]

In [33]:
lst = list(range(10)) 
print(lst)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [34]:
#slicing

print("elements from index 4 to 7:", lst[4:7])
print("every third element, starting at index 1:", lst[1::3])

elements from index 4 to 7: [4, 5, 6]
every third element, starting at index 1: [1, 4, 7]

### Dictionaries

In [35]:
my_dict = {'key1':'value1','key2':'value2'}

In [36]:
my_dict['key2']

'value2'

In [37]:
my_dict['key1']=123
my_dict

{'key1': 123, 'key2': 'value2'}

In [39]:
# Create a new dictionary
d = {}
print(d)

# Create a new key through assignment
d['animal'] = 'Dog'

print(d)

{}
{'animal': 'Dog'}

### Set and Booleans

In [40]:
x = set()

# We add to sets with the add() method
x.add(1)

#Show
x

{1}

In [41]:
x.add(3)

x

{1, 3}

In [42]:
# Try to add the same element
x.add(1)

#Show
x

{1, 3}

In [44]:
# Create a list with repeats
l = [1,1,2,2,3,4,5,6,1,1]
print(l)

[1, 1, 2, 2, 3, 4, 5, 6, 1, 1]

In [46]:
a = set(l)

In [47]:
print(a)

{1, 2, 3, 4, 5, 6}

### If,elif,else Statements

In [49]:
a = 4
b = 5

if a > b:
    print("a is greater than b")
elif b > a:
    print("b is greater than a")
else:
    print("a and b are equal")

b is greater than a

### For Loops

In [51]:
list_1 = [2,4,5,6,8,7,9,10] 

for i in list_1:          
    if i % 2 == 0:      
        print(i)

2
4
6
8
10

### While Loops

In [53]:
x = 0

while x < 5:
    print ('x is currently: ',x,end=' ')
    print (' x is still less than 5, adding 1 to x')
    x+=1
print('Complete...')

x is currently:  0  x is still less than 5, adding 1 to x
x is currently:  1  x is still less than 5, adding 1 to x
x is currently:  2  x is still less than 5, adding 1 to x
x is currently:  3  x is still less than 5, adding 1 to x
x is currently:  4  x is still less than 5, adding 1 to x
Complete...

### Function

In [54]:
def double_the_number(num):
    return num * 2

print(double_the_number(10))

20

In [55]:
def square_and_cube(num):
    return num**2, num**3

answer = square_and_cube(3)
print(answer)
print(type(answer))

square, cube = square_and_cube(3)
print(square)
print(cube)

(9, 27)
<class 'tuple'>
9
27